mixin blurred_image(image_url)
  .header.big
    .header_image
      img(style="background-image: url('#{image_url}');")
      .header_overlay
      
      
mixin table_time(time , availability)
  li.table_times__item
    .button.radius(class=availability)= time
      